.poppins-medium {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

body {
  margin: 0 !important;
  padding: 0%;
  box-sizing: border-box;
   &::-webkit-scrollbar{
  display: none;
  }
}

p,
h1,
h2,
h3,
h4,
span {
  margin: 0 !important;
}

.navbar {
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(7, 7, 7, 0.074);
}

.logo {
  cursor: pointer;
  padding: 30px;
  width: 130px;
  border-right: 1px solid rgba(7, 7, 7, 0.074);
}

.logo img {
  height: 80%;
  width: 100%;
  object-fit: contain;
}

#text-container {
  cursor: pointer;
  padding-top: 18px;
  padding-bottom: 18px;
  padding-left: 30px;
  padding-right: 30px;
}

.top-text {
  font-family: Helvetica;
  font-weight: 800;
  font-size: 18px;
}

.bottom-text {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 14px;
  display: block;
  line-height: 20px;
}

.icon-wrap {
  cursor: pointer;
  opacity: 0.7;
  position: relative;
}

#search-bar {
  flex: 1;
  position: relative;
  padding-right: 30px;
}

.bar {
  width: 100%;
  padding: 18px 0px;
  padding-left: 45px;
  border-radius: 12px;
  border: 1px solid rgba(7, 7, 7, 0.074);
  background-color: #f8f8f8;
  font-size: 15px;
  box-sizing: border-box;
}

#search-icon {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #000000;
  font-size: 18px;
}

#nav-button {
  display: flex;
  align-items: center;
}

.btn-1 {
  padding: 30px 0px;
}

.btn-2 {
  padding: 15px 30px;
}

.btn-1 button {
  background-color: white;
  font-size: 19px;
  font-weight: 400;
  color: #363636;
  cursor: pointer;
  border: none;
  padding: 0 30px;
}

.btn-2 button {
  color: white;
  border: none;
  background-color: #e6e6e6;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
  padding: 18px;
}

.container {
  width: 100%;
  max-width: 1260px;
  margin: 0 auto;
}

.banner-img {
  width: 100%;
}

.banner-img img {
  width: 100%;
  height: 100%;
}

.card-img {
  display: flex;
  align-items: center;
  justify-content: start;
}

.card-img img {
  height: 195px;
  padding: 13px;
}

#hero-img {
  display: grid;
  grid-template-columns: repeat(10, 10fr);
}

.image-grid {
  height: 189px;
}

#cart-dairy {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-dairy {
  font-size: 24px;
  font-weight: 500;
  color: rgb(28, 28, 28);
}

.cart-expand {
  color: #0c831f;
  text-decoration: none;
  font-size: 20px;
  font-weight: 400;
}

#product-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 10px;
  &::-webkit-scrollbar{
    display: none;
  }
}


#product-container2 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 10px;
  &::-webkit-scrollbar{
  display: none;
  }
}


#product-container3 {
  margin-top: 10px;
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  gap: 10px;
  overflow-x: auto;
  overflow-y: visible;
  padding: 10px;
  &::-webkit-scrollbar{
  display: none;
  }
}

.product-cart {
  height: 286px;
  width: 180px;
  border-radius: 8px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
}

.item-image {
  height: 140px;
  display: block;
  margin: 0 auto;
}

.delivery-time {
  font-size: 9px;
  font-weight: 600;
  color: #363636;
  background-color: #f8f8f8;
  border-radius: 4px;
  width: 45px;
  margin-left: 10px;
}

.product-name {
  color: #1f1f1f;
  font-size: 13px;
  font-weight: 500;
  padding: 10px;
  height: 35px;
  overflow: hidden;
}

.product-quantity {
  color: #666666;
  font-weight: 400;
  font-size: 12px;
  padding: 10px;
}

.price-btn {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price-btn {
  display: flex;
  padding: 0px 10px;
}

.product-price {
  font-size: 11px;
  color: #1f1f1f;
  font-weight: 600;
}

.product-btn {
  color: #318616;
  font-size: 12px;
  font-weight: 600;
  background-color: #f7fff9;
  width: 66px;
  height: 31px;
  border-radius: 6px;
  border: 1px solid #318616;
  justify-content: space-between;
  cursor: pointer;
}


#cart-drinks-juices{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.title-drinks {
  font-size: 24px;
  font-weight: 500;
  color: rgb(28, 28, 28);
}